# Core API
fastapi
uvicorn[standard]
python-multipart
python-dotenv

# Database
SQLAlchemy
psycopg2-binary

# Auth & Security
firebase-admin
PyJWT
cryptography

# OCR & Processing (Suas bibliotecas originais)
easyocr
torch
torchvision
PyMuPDF
Pillow
pytesseract
python-bidi==0.4.2
opencv-python-headless

# Utilities
pydantic
requests
typing-extensions
httpx
reportlab
openpyxl
numpy
psutil
