# Core API
fastapi
uvicorn[standard]
python-multipart
python-dotenv

# Database
SQLAlchemy
psycopg2-binary

# Auth & Security
firebase-admin
PyJWT
cryptography

# OCR & Processing
rapidocr
onnxruntime
PyMuPDF
Pillow
opencv-python-headless

# Utilities
pydantic
requests
typing-extensions
httpx
reportlab
openpyxl
numpy
psutil
